[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
databases = {extras = ["postgresql"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
