[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
databases = {extras = ["postgresql"] }
python-dotenv = "*"
jwt = "*"
pydantic-settings = "*"
pyjwt = "*"
authlib = "*"
httpx = "*"
starlette = "*"
itsdangerous = "*"
httplib2 = "*"
oauth2client = "*"
google-auth = "*"
requests = "*"
transformers = "*"
jose = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.11"
